modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "imagemagick"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd IN1BET-V10/in1bet && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
JWT_SECRET = "15ff59be27981085b63d275b755078f290ea45466ecc81a0e6a5815f3eececfa28e3dbe2b18d021b7c212b3beab66b8a4de55ad3f633125648a72a6eefd3895d"
DATABASE_URL = "postgresql://neondb_owner:npg_rE15cDGWeBTO@ep-purple-grass-ahk928kt-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require"
ONDAPAY_WEBHOOK_URL = "https://f58e4c6b-1342-4229-aef7-7b5a71c28c17-00-1bfrwihbe3aon.kirk.replit.dev/api/webhook/ondapay"
